= render template:"main/_menu"
#ProjectsAndList.column.span-9.colborder
  #projects
    = render template: 'project/_project'
  #tasksList
    = render template: 'list/_list'
#tasks.prepend-1.column.span-13.last
  -if !current_list.nil?
    %h3.alt Tasks:
    %hr
    -if @tasks.where("state <> ?", true).count > 0
      = render template: 'task/_task'
    -else
      %p.alt{:onclick=>"show('newTask')", :style=>"font-size:14px;"}
        You don't have any tasks in this task's list!
    %hr
    .column.span-13.last
      #newTask{:style => "display:none;"}
        = form_for(:tasks, :url => '/newTask') do |f|
          = f.text_field :name, :placeholder=>"What do you want to do?", :required => true, :value=>""
          = f.submit "Add", :class=>"button"
        = link_to_function "Cancel", "hide('newTask')"
      #addButton
        = link_to "Add task", "#", :class=>"button"
    = render template: 'task/_task_foreign'
%input#Paranja.b-paranja-helper{:checked => "checked", :hidden => "hidden", :name => "dropdowns", :type => "radio"}
