%p#notice= notice
#menu.column.span-24.last
  .column.tabs.span-10
    %ul
      %li.label Tasks:
      %li= link_to "My", root_path
      %li= link_to "Foreign", foreign_path, :class=>"selected"
  #userData.column.prepend-9.span-5
    %span#userLogin>
      = current_user.login
    (#{link_to 'Sign out', signout_path, :method => :post})
=render :template=>"main/_page"
