<div id="header">
<h1>Todo list</h1>
</div>

<div id="content">
	<div id="projects">
		<h2>Projects:</h2>
		
		<p id="notice"><%= notice %></p>
		
		<!-- ++++++++++++++ ЭТО ВСЕ ВПИХНУТЬ В ПАПКУ PROJECT +++++++++++ -->
		<% for p in current_user.projects%>
		<div id="project<%=p.id%>">
			<a href=""><%=p.name%></a>
			
			<div id="projectSettings"> 
			<%= link_to 'x', "#{p.id}/delProject", confirm: 'Are you sure?', method: :delete %>
			<%= link_to_function 'edit', "showEditBox(#{p.id})" %>
			</div>
			
		</div>
		<div id="formProj<%=p.id%>" style="display:none">
		<%= form_for(:project, :url => "#{p.id}/editProject",method: :put, :style => 'display:inline') do |f| %>
		<%= f.text_field :name %>
		<%= f.submit "Ok" %>
		<% end %>
		<%= link_to_function 'cancle', "hideEditBox(#{p.id})", :style => 'margin-left:10px' %>
		</div>
		
		<% end %>
		</br>
		<div id="newProj" style="display:none;">
		<%= form_for(:projects, :url => '/newProject') do |f| %>
			<%= f.label :name %> <%= f.text_field :name %>
			<%= f.submit "Add" %>
		<% end %>
		<%=link_to_function "Cancel", "hide('newProj')"%>
		</div>
		<%=link_to_function "Add project", "show('newProj')"%>
		
		<!-- ++++++++++++++++++ ПО СЮДА!!! ++++++++++++++++++ -->
	</div>
	
	<div id="tasksList">
	<h2>Task's list:</h2>
	</div>
	
	<div id="tasks">
		<h3>Tasks:</h3>
		
	</div>
</div>

<div id="footer">
<span>made by Evgeniy aka Fantaz1 Zabolotniy</span>
</div>