	<% if !signed_in? %>
    	<%= render template: 'session/_session' %>
	<% else %>
	<p id="notice"><%= notice %></p>
	<div id="userData">
	<span id="userLogin"> <%= current_user.login %> </span><%= link_to 'Sign out', signout_path, :method => :post %>
	</div>
	<div id="ProjectsAndList">
	<div id="projects">				
		<%= render template: 'project/_project' %>		
	</div>
	
	<div id="tasksList" >
		<%= render template: 'list/_list' %>		
	</div>
	</div>
	
	<div id="tasks">
		<%= render template: 'task/_task' %>		
	</div>
	<% end %>
