- className = " "
- if !current_list.nil? && current_list.id == list.id
  - className="success"
- else
  - className="info"
%div.cursorPointer{:id => "ListTask#{list.id}"}
  .column.span-7.cursorPoiter{:onclick=>"top.location.href='lists/#{list.id}'"}
    %div{:class=>className}
      %span.likeA
        =list.name
      %span#desc
        =list.description
  %div.span-1.last
    %input.b-dropdown-helper{:hidden => "hidden", :name => "dropdowns", :type => "radio", :id=>"DropdownList#{list.id}", :cheched=>false}
    %span.b-dropdown
      %a.b-dropdown-handle{:id=>"plusLs#{list.id}"} +
      %label.b-dropdown-handle{:for => "DropdownList#{list.id}"}
            
      %span.b-dropdown-popup
        %span.b-dropdown-popup-in
          %span.b-dropdown-popup-inin{:style=>"z-index:9;"}
            = link_to_function 'Edit', "ShowAndHide(\"formList#{list.id}\", \"ListTask#{list.id}\")", :class=>"b-dropdown-link think-link"
            -if @foreign.nil?
              = link_to 'Delete', "lists/#{list.id}", confirm: 'Are you sure?', method: :delete, :class=>"b-dropdown-link think-link"
              
%div{:id => "formList#{list.id}", :style => "display:none"}
  .column.span-7{:style => "display:block;"}
    .notice
      = form_for(:list, :url => "lists/#{list.id}", :method => :put, :style => 'display:inline') do |f|
        = f.text_field :name, :value => list.name, :placeholder => "Task's list name", :required => true
        = f.text_field :description, :value => list.description, :placeholder => "Description"
        = f.submit "Update"
  .column.span-1
    = link_to_function '↑', "ShowAndHide(\"ListTask#{list.id}\", \"formList#{list.id}\")", :id=>"array"
