#loginScreen
  #signinDiv.lifted
    = form_for(:sessions, :url => session_new_path) do |f|
      .field
        = f.label :login, 'Login/email'
        = f.text_field :login, :placeholder=>"login", :required => true
      .field
        = f.label :password
        = f.password_field :password, :placeholder=>"•••", :required => true
      = f.submit 'Sing in'
  #signupDiv
    New user? #{link_to 'Sign up!', signup_path}
