-if !current_list.nil?
  %h3.alt Tasks:
  %hr
  -if @tasks.where(:state=>false).count > 0
    - for t in @tasks.where(:state=>false).order(:priority)
      = render :partial => t
  -else
    %p.alt{:onclick=>"show('newTask')", :style=>"font-size:14px;"}
      You don't have any tasks in this task list!
  %hr
  .column.span-13.last
    #newTask{:style => "display:none;"}
      = form_for(:tasks, :url => '/newTask') do |f|
        = f.text_field :name, :placeholder=>"What do you want to do?", :required => true, :value=>""
        = f.submit "Add", :class=>"button"
      = link_to_function "Cancel", "hide('newTask')"
    #addButton
      = link_to "Add task", "#", :class=>"button"
  = render template: 'tasks/_task_completed'
