<div class="column prepend-7 span-13 last">
<h3 class="alt">Tasks:</h3>
<% for t in @tasks %>
		<div id="Task<%= t.id %>">
			<div class="column span-11">
			<%= check_box " ", " ",:onclick =>"top.location.href= '#{t.id}/completed'", :method => :post, :checked => @complated %>	
			<%= t.name %>
			<span id="desc"><%= t.description %> </span>
			</div>
			
			<% if t.list.project.user.id == current_user.id %>
				<div class="column span-1 last" id="taskSettings">				
					<%= link_to_function '↓', "ShowAndHide(\"formTask#{t.id}\", \"Task#{t.id}\")", :id=>"array"%>
				</div>	
			<% else %>
				<div class="column span-1 last">
					<%= t.list.project.user.login %>
				</div>
			<%end%>
		</div>
		<% if t.list.project.user.id == current_user.id %>
		<div id="formTask<%=t.id%>" style="display:none">
			<div class="column span-11">
			<div class="notice">
			<%= form_for(:task, :url => "#{t.id}/editTask", :method => :put, :style => 'display:inline') do |f| %>
				<table>
				<tr><td></td><td style="text-align:right;"><%=f.label :priority%> <%= f.select :priority, [1,2,3], :selected => t.priority.nil? ? 2 : t.priority %></td>
				<td rowspan="3" style="vertical-align:top;">Other users:
				<% for u in t.users %>
				
					<%= u.login %></br>
				
				<% end %>
				
				</td>
				</tr>
				<tr>
				<td><%= f.label :name %></td>
				<td><%= f.text_field :name, :value => t.name %></td>
				</tr>
				<tr>
				<td><%= f.label :description %></td>				
				<td><%= f.text_field :description, :value => t.description %></td>
				</tr>
				<tr>
				<td></td>
				<td>
				<%= f.submit "Update"%>
				<%= link_to 'Delete', "#{t.id}/delTask", confirm: 'Are you sure?', method: :delete %>
				</td>
				<td> <%= link_to "Add user", "#{t.id}/findUser" %> </td>
				</tr>
				</table>
					
			<% end %>
			</div>
			</div>
			
			<div class="column span-1">
			<%= link_to_function '↑', "ShowAndHide(\"Task#{t.id}\", \"formTask#{t.id}\")", :method => :post, :id=>"array" %>
			</div>
		</div>
		<%end%>
	<% end %>
</div>
