- for t in @tasks.where("state <> ?", true).order(:priority)
  %div{:id => "Task#{t.id}"}
    #taskName.column.span-11
      = check_box " ", " ",:onclick =>"top.location.href= \"#{t.id}/completed\"", :method => :post
      = t.name 
      %span#desc
        = t.description
    %article.l-section.span-1.last
      %input.b-dropdown-helper{:hidden => "hidden", :name => "dropdowns", :type => "radio", :id=>"DropdownTask#{t.id}", :cheched=>false}
      %span.b-dropdown
        %a.b-dropdown-handle#dropdown-handle +
        %label.b-dropdown-handle{:for => "DropdownTask#{t.id}"}
            
        %span.b-dropdown-popup
          %span.b-dropdown-popup-in
            %span.b-dropdown-popup-inin{:style=>"z-index:9;"}
              = link_to_function 'Edit', "ShowAndHide(\"formTask#{t.id}\", \"Task#{t.id}\")", :class=>"b-dropdown-link think-link"
              = link_to 'Delete', "#{t.id}/delTask", confirm: 'Are you sure?', method: :delete, :class=>"b-dropdown-link think-link"    
              =link_to 'Share', "#{t.id}/share_task",:class=>"b-dropdown-link think-link"
  %div{:id => "formTask#{t.id}", :style => "display:none"}
    .column.span-11
      .notice
        = form_for(:task, :url => "#{t.id}/editTask", :method => :put, :style => 'display:inline') do |f|
          %table
            %tr
              %td 
                = f.submit "Update"
              %td{:style => "text-align:right;"}
                = f.label :priority
                = f.select :priority, [1,2,3], :selected => t.priority.nil? ? 2 : t.priority          
                
            %tr
              %td= f.label :name
              %td= f.text_field :name, :value => t.name
            %tr
              %td= f.label :description
              %td= f.text_field :description, :value => t.description
              
            %tr
              %td{:colspan => "2"} 
                Other users:              
                - for u in t.users
                  = u.login
                

    .column.span-1
      = link_to_function '↑', "ShowAndHide(\"Task#{t.id}\", \"formTask#{t.id}\")", :method => :post, :id=>"array"
