<% if !current_list.nil? %>
	<h3>Tasks:</h3>
	<% for t in @current_list.tasks.where("state <> ?", true).order(:priority) %>
		<div id="Task<%= t.id %>">
			<div class="leftPartSet">
			<%= check_box " ", " ",:onclick =>"top.location.href= \"#{t.id}/completed\"", :method => :post %>	
			<%= t.name %>
			<span id="desc"><%= t.description %> </span>
			</div>
			
			<div class="rightPartSet" id="taskSettings">				
				<%= link_to_function '↓', "ShowAndHide(\"formTask#{t.id}\", \"Task#{t.id}\")" %>
			</div>	
		</div>

		<div id="formTask<%=t.id%>" style="display:none">
			<div class="leftPartSet">
			<%= form_for(:task, :url => "#{t.id}/editTask", :method => :put, :style => 'display:inline') do |f| %>
				<table>
				<tr><td></td><td style="text-align:right;"><%=f.label :priority%> <%= f.select :priority, [1,2,3], :selected => t.priority.nil? ? 2 : t.priority %></td>
				<td rowspan="3" style="vertical-align:top;">Other users:
				<% for u in t.users %>
				
					<%= u.login %></br>
				
				<% end %>
				
				</td>
				</tr>
				<tr>
				<td><%= f.label :name %></td>
				<td><%= f.text_field :name, :value => t.name %></td>
				</tr>
				<tr>
				<td><%= f.label :description %></td>				
				<td><%= f.text_field :description, :value => t.description %></td>
				</tr>
				<tr>
				<td></td>
				<td>
				<%= f.submit "Update"%>
				<%= link_to 'Delete', "#{t.id}/delTask", confirm: 'Are you sure?', method: :delete %>
				</td>
				<td> <%= link_to "Add user to task", "#{t.id}/findUser" %> </td>
				</tr>
				</table>
					
			<% end %>
			
			</div>
			
			<div class="rightPartSet">
			<%= link_to_function '↑', "ShowAndHide(\"Task#{t.id}\", \"formTask#{t.id}\")", :style=>"float:right;", :method => :post %>
			</div>
		</div>
	<% end %>
	
	<div id="newTask" style="display:none;">
		<%= form_for(:tasks, :url => '/newTask') do |f| %>
			<%= f.text_field :name, :placeholder=>"What do you want to do?", :required => true %>
			<%= f.submit "Add" %>
		<% end %>
		<%=link_to_function "Cancel", "hide('newTask')"%>
	</div>
	
	<%=link_to_function "Add task", "show('newTask')"%>
	
	<div id="completedTasks">
		<h3>Completed tasks</h3>

		<% for t in current_list.tasks.where("state = ?", true) %>
			<div id="completedTask">
				<%= check_box " ", " ",:checked => true, :onclick =>"top.location.href= \"#{t.id}/completed\"", :method => :post %>
				<%= t.name %>
			</div>
		<% end %>
	</div>
<% end %>

		