.column.prepend-7.span-13.last
  %h3.alt Tasks:
  - for t in @tasks
    %div{:id => "Task#{t.id}"}
      #taskName.column.span-11
        = check_box " ", " ",:onclick =>"top.location.href= '#{t.id}/completed'", :method => :post, :checked => @complated
        = t.name
        %span#desc
          = t.description
      - if t.list.project.author.id == current_user.id
        %article.l-section.span-1.last
          %input.b-dropdown-helper{:hidden => "hidden", :name => "dropdowns", :type => "radio", :id=>"DropdownTask#{t.id}", :cheched=>false}
          %span.b-dropdown
            %a.b-dropdown-handle#dropdown-handle +
            %label.b-dropdown-handle{:for => "DropdownTask#{t.id}"}
            
            %span.b-dropdown-popup
              %span.b-dropdown-popup-in
                %span.b-dropdown-popup-inin{:style=>"z-index:9;"}
                  = link_to_function 'Edit', "ShowAndHide(\"formTask#{t.id}\", \"Task#{t.id}\")", :class=>"b-dropdown-link think-link"
                  = link_to 'Delete', "#{t.id}/delTask", confirm: 'Are you sure?', method: :delete, :class=>"b-dropdown-link think-link"
                  =link_to 'Share', "#{t.id}/share_task", :class=>"b-dropdown-link think-link"
      - else
        .column.span-1.last
          = t.list.project.author.login
    - if t.list.project.author.id == current_user.id
      %div{:id => "formTask#{t.id}", :style => "display:none"}
        .column.span-11
          .notice
            = form_for(:task, :url => "#{t.id}/editTask", :method => :put, :style => 'display:inline') do |f|
              %table
                %tr
                  %td
                  %td{:style => "text-align:right;"}
                    = f.label :priority
                    = f.select :priority, [1,2,3], :selected => t.priority.nil? ? 2 : t.priority
                  %td{:rowspan => "3", :style => "vertical-align:top;"}
                    Other users:
                    - for u in t.users
                      = u.login
                %tr
                  %td= f.label :name
                  %td= f.text_field :name, :value => t.name
                %tr
                  %td= f.label :description
                  %td= f.text_field :description, :value => t.description
                %tr
                  %td
                  %td
                    = f.submit "Update"
                 
        .column.span-1.last
          = link_to_function '↑', "ShowAndHide(\"Task#{t.id}\", \"formTask#{t.id}\")", :method => :post, :id=>"array"
