<div id="searchUser" class=lifted >
<%= notice %>
<h3 class="alt"> Find user </h3>
<%= form_for(:tasks, :method => :get ) do |f| %>
<%= f.text_field :name, :placeholder => "Input user's login or email", :required=>true %>
<%= f.submit "Find" %>
<% end %>

<hr/>
<h3 class="alt">Seaching result:</h3>
<% for u in @users %>
<div id="findedUser"> 
<%= u.login %> 
<% if @task.users.include? u %>
<%= link_to "–", find_user_path + "/del/#{u.id}", :method=>:post, :id=>"array" %>
<% else %>
<%= link_to "+", find_user_path + "/add/#{u.id}", :method=>:post, :id=>"array" %>
<% end %>
</div>
<% end %>
</div>
<div class="cAlign">
<%= link_to "back", root_path%>
</div>
