<div id = "loginScreen">
		
    	<div id="signinDiv" class=lifted>
			<%= form_for(:sessions, :url => '/signin') do |f| %>
				<div class="field">
				<%= f.label :login, 'Login/email' %></br>
				<%= f.text_field :login, :placeholder=>"login", :required => true %>
				</div>
				<div class="field">
				<%= f.label :password %></br>
				<%= f.password_field :password, :placeholder=>"•••", :required => true %>
				</div>
				</br>
				<%= f.submit 'Sing in'%>
			<% end %>    
		</div>
		<div id="signupDiv">
			New user? <%=link_to 'Sign up!', signup_path %> 
		</div>
</div>