<div id=loginScreen>
<div id=signinDiv class=lifted>

<h3 class=alt>Forgot your password?</h3>
<hr/>
<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.submit "Send me reset password instructions" %></div>
<% end %>
</div>
<%= render "links" %>
</div>
