.navbar.navbar-fixed-top
  .navbar-inner
    .container
      .brand
        Todo your chart
      %ul.nav.pull-right
        - if current_user
          %li
            = link_to "Sign out", signout_path, id: "sign_out"
        - else
          %li
            = link_to "Sign in with Facebook", "/auth/facebook"
          %li
            = link_to "Sign in with VK", "/auth/vkontakte"
          %li
            = link_to "Sign in with Google", "/auth/google_oauth2"
      - if current_user
        .pull-right.user_data
          = image_tag current_user.avatar_url(:thumb), width: 30
          = current_user.name