- className = " "
- if !@project.nil? && @project.id == project.id
  - className="success"
- else
  - className="info"
%div{:id => "project#{project.id}"}
  .span-8.cursorPoiter{:onclick=>"top.location.href='#{project_path(project.id)}'"}
    %div{:class=>className}
      %span.likeA 
        =project.name
      (
      %span{:style => "color:red"}
        = project.lists.inject(0) {|s,n| s + n.tasks.where(:state=>false).count}
      )
      -if current_tab != 1
        %span{:style=>"float:right; color:gray; font-weight:bold;"}
          = project.author.login

  .span-1.last
    %input.b-dropdown-helper{:hidden => "hidden", :name => "dropdowns", :type => "radio", :id=>"DropdownProj#{project.id}", :cheched=>false}
    %span.b-dropdown
      %label.b-dropdown-handle{:for => "DropdownProj#{project.id}"} +      
      %span.b-dropdown-popup
        %span.b-dropdown-popup-in
          %span.b-dropdown-popup-inin{:style=>"z-index:9;"}
            = link_to_function 'Edit', "ShowAndHide(\"formProj#{project.id}\", \"project#{project.id}\")", :class=>"b-dropdown-link think-link", :id=>"edit_link"
            -if current_tab == 1
              = link_to 'Delete', project, method: :delete, :class=>"b-dropdown-link think-link",:id=>"plusPr#{project.id}"
            -if current_tab == 1
              =link_to 'Share', share_project_path(project), :class=>"b-dropdown-link think-link"

%div{:id => "formProj#{project.id}", :style => "display:none"}
  .column.span-8
    .notice
      = form_for(:project, :url => project,:method => :put, :style => 'display:inline') do |f|
        = f.text_field :name, :value => project.name, :placeholder=>"Project's name"
        = f.submit "Edit"
         
  .column.span-1.last
    =link_to_function '↑', "ShowAndHide( \"project#{project.id}\", \"formProj#{project.id}\")", :id=>"array"
