<h2>Projects:</h2>		
	<% for p in current_user.projects %>
	<div id="project<%=p.id%>">
		<%= link_to p.name, "#{p.id}/openProject", :method => "post"%>
			
		<div id="projectSettings"> 		
		<%= link_to_function '↓', "ShowAndHide(\"formProj#{p.id}\", \"project#{p.id}\")" %>
		</div>
		
	</div>
			
		
	<div id="formProj<%=p.id%>" style="display:none">
		<div class="leftPartSet">
		<%= form_for(:project, :url => "#{p.id}/editProject",method: :put, :style => 'display:inline') do |f| %>
			<%= f.text_field :name, :value => p.name, :placeholder=>"Project's name" %>				
			</br>
			<%= f.submit "Update", :style => "margin:0 45px;" %>		
		<% end %>		
		<%= link_to 'Delete', "#{p.id}/delProject", confirm: 'Are you sure?', method: :delete %>
		</div>
			
		<div class="rightPartSet">
		<%= link_to_function '↑', "ShowAndHide( \"project#{p.id}\", \"formProj#{p.id}\")", :style => 'float:right;' %>
		</div>		
	</div>
		
	<% end %>


	</br>
	<div id="newProj" style="display:none;">
	<%= form_for(:projects, :url => '/newProject') do |f| %>
		<%= f.text_field :name, :placeholder => "Project name", :required => true %>
		<%= f.submit "Add" %>
	<% end %>
	<%=link_to_function "Cancel", "hide('newProj')"%>
	</div>
	<%=link_to_function "Add project", "show('newProj')"%>