%h3.alt Projects:
%hr.clear/
- if @projects.count > 0
  - for p in @projects
    - className = " "
    - if !current_project.nil? && current_project.id == p.id
      - className="success"
    - else
      - className="info"
    %div{:id => "project#{p.id}"}
      .span-8.cursorPoiter{:onclick=>"top.location.href='#{p.id}/openProject'"}
        %div{:class=>className}
          %span.likeA 
            =p.name
          (
          %span{:style => "color:red"}
            = p.lists.inject(0) {|s,n| s + n.tasks.where("state <> ?", true).count}
          )
          
      %article.l-section.span-1.last
        %input.b-dropdown-helper{:hidden => "hidden", :name => "dropdowns", :type => "radio", :id=>"DropdownProj#{p.id}", :cheched=>false}
        %span.b-dropdown
          %a.b-dropdown-handle{:id=>"plusPr#{p.id}"} +
          %label.b-dropdown-handle{:for => "DropdownProj#{p.id}"}
          
          %span.b-dropdown-popup
            %span.b-dropdown-popup-in
              %span.b-dropdown-popup-inin{:style=>"z-index:9;"}
                = link_to_function 'Edit', "ShowAndHide(\"formProj#{p.id}\", \"project#{p.id}\")", :class=>"b-dropdown-link think-link"
                -if @foreign.nil?
                  = link_to 'Delete', "#{p.id}/delProject", method: :delete, :class=>"b-dropdown-link think-link",:id=>"plusPr#{p.id}"
                -if @foreign.nil?
                  =link_to 'Share', "#{p.id}/share_project", :class=>"b-dropdown-link think-link"
        %input#Paranja{:type=>"radio", :class=>"b-paranja-helper", :name=>"dropdowns", :checked=>"checked", :hidden=>"hidden"}
        %label{:class=>"b-paranja", :for=>"Paranja", :style=>"z-index:1;"}
    %div{:id => "formProj#{p.id}", :style => "display:none"}
      .column.span-8
        .notice
          = form_for(:project, :url => "#{p.id}/editProject",method: :put, :style => 'display:inline') do |f|
            = f.text_field :name, :value => p.name, :placeholder=>"Project's name"
            = f.submit "Edit"
            
      .column.span-1.last
        =link_to_function '↑', "ShowAndHide( \"project#{p.id}\", \"formProj#{p.id}\")", :id=>"array"
        
-elsif @foreign.nil?
  %p.alt{:onclick=>"show('newProj')", :style=>"font-size:14px;"}
    You don't have any projects!
-else
  %p.alt{:style=>"font-size:14px;"}
    You don't have any projects!

-if @foreign.nil?
  %hr.clear/
  #newProj{:style => "display:none;"}
    = form_for(:projects, :url => '/newProject') do |f|
      = f.text_field :name, :placeholder => "Project name", :required => true, :value=>""
      = f.submit "Add"
    = link_to_function "Cancel", "hide('newProj')"
  #addButton
    = link_to "Add project", "#", :class=>"button", :id => "AddButProj"
