#signupScreen.lifted
  = form_for(:user) do |f|
    - if @user.errors.any?
      #error_explanation
        %h2
          = pluralize(@user.errors.count, "error")
          prohibited this user from being saved:
        %ul
          - @user.errors.full_messages.each do |msg|
            %li= msg
    .field
      = f.label :login
      %br/
      = f.text_field :login, :placeholder=>"login", :required => true
    .field
      = f.label :password
      %br/
      = f.password_field :password, :placeholder=>"•••", :required => true
    .field
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation, :placeholder=>"•••", :required => true
    .field
      = f.label :email
      %br/
      = f.email_field :email, :placeholder=>"Goga@gmail.com", :required => true
    .action
      = f.submit 'Sign up!'
  = link_to 'Back', root_path
