<% if !current_project.nil? %>
<h2>Task's list:</h2>
<% for l in @current_project.lists %>
<div id="ListTask<%= l.id %>">
	<div class="leftPartSet">
	<%= link_to l.name, "#{l.id}/openTaskList", :method => "post"%>
	<span id="desc"><%= l.description %></span>
	</div>
	<div class="rightPartSet" id="listSettings">		
		<%= link_to_function '↓', "ShowAndHide(\"formList#{l.id}\", \"ListTask#{l.id}\")" %>
	</div>	
</div>

<div id="formList<%=l.id%>" style="display:none">
	<div class="leftPartSet">
	<%= form_for(:list, :url => "#{l.id}/editTaskList", :method => :put, :style => 'display:inline') do |f| %>
		<%= f.text_field :name, :value => l.name, :placeholder => "Task's list name", :required => true %>
		<%= f.text_field :description, :value => l.description, :placeholder => "Description" %>
		</br>
		<%= f.submit "Update"%> 
		<%= link_to 'Delete', "#{l.id}/delTaskList", confirm: 'Are you sure?', method: :delete %>
					
	<% end %>	
	</div>
	
	
	<div class="rightPartSet">
	<%= link_to_function '↑', "ShowAndHide(\"ListTask#{l.id}\", \"formList#{l.id}\")", :style => 'float:right;' %>
	</div>
</div>
<% end %>

		<div id="newList" style="display:none;">
		<%= form_for(:lists, :url => '/newTaskList') do |f| %>
			<%= f.text_field :name, :placeholder => "Task's list name", :required => true %>
			<%= f.submit "Add" %>
		<% end %>
		
		<%=link_to_function "Cancel", "hide('newList')"%>
		</div>
		<%=link_to_function "Add task list", "show('newList')"%>

<% end %>