- if !current_project.nil?
  %h3.alt Task's list:
  %hr.clear/
  - if current_project.lists.count > 0
    - for l in current_project.lists
      - className = " "
      - if !current_list.nil? && current_list.id == l.id
        - className="success"
      - else
        - className="info"
      %div.cursorPointer{:id => "ListTask#{l.id}"}
        .column.span-7.cursorPoiter{:onclick=>"top.location.href='#{l.id}/openTaskList'"}
          %div{:class=>className}
            %span.likeA
              =l.name
            %span#desc= l.description

        %div.span-1.last
          %input.b-dropdown-helper{:hidden => "hidden", :name => "dropdowns", :type => "radio", :id=>"DropdownList#{l.id}", :cheched=>false}
          %span.b-dropdown
            %a.b-dropdown-handle#dropdown-handle +
            %label.b-dropdown-handle{:for => "DropdownList#{l.id}"}
            
            %span.b-dropdown-popup
              %span.b-dropdown-popup-in
                %span.b-dropdown-popup-inin{:style=>"z-index:9;"}
                  = link_to_function 'Edit', "ShowAndHide(\"formList#{l.id}\", \"ListTask#{l.id}\")", :class=>"b-dropdown-link think-link"
                  -if @foreign.nil?
                    = link_to 'Remove', "#{l.id}/delTaskList", confirm: 'Are you sure?', method: :delete, :class=>"b-dropdown-link think-link"
              
      %div{:id => "formList#{l.id}", :style => "display:none"}
        .column.span-7{:style => "display:block;"}
          .notice
            = form_for(:list, :url => "#{l.id}/editTaskList", :method => :put, :style => 'display:inline') do |f|
              = f.text_field :name, :value => l.name, :placeholder => "Task's list name", :required => true
              = f.text_field :description, :value => l.description, :placeholder => "Description"
              = f.submit "Update"
        .column.span-1
          = link_to_function '↑', "ShowAndHide(\"ListTask#{l.id}\", \"formList#{l.id}\")", :id=>"array"
  - else
    %p#addListP.alt{:style=>"font-size:14px;"}
      You don't have any task's lists!
  %hr
    #newList{:style => "display:none;"}
      = form_for(:lists, :url => '/newTaskList') do |f|
        = f.text_field :name, :placeholder => "Task's list name", :required => true
        = f.submit "Add"
      = link_to_function "Cancel", "hide('newList')"
    #addButton
      = link_to "Add task list", "#", :class=>"button"
