!!!
%html
  %head
    %title TodoList
    /[if IE] <haml:loud> stylesheet_link_tag &quot;vendor/assets/blueprint/ie.css&quot; </haml:loud>    
    = stylesheet_link_tag "blueprint/print.css"
    = stylesheet_link_tag "blueprint/screen.css"
    = stylesheet_link_tag "blueprint/plugins/fancy-type/screen.css"
    = stylesheet_link_tag "blueprint/plugins/link-icons/screen.css"
    = stylesheet_link_tag "blueprint/plugins/tabs/screen.css"
    = stylesheet_link_tag "dropdowns"
    = stylesheet_link_tag "application"

    = javascript_include_tag "application"
    
    = csrf_meta_tags
  %body
    #main.container
      #headerDiv
        %p Todo list
      %br/
      #content
        = yield
      %hr.clear/
      #footer.span-24.prepend-1.column.last
        %span made by Evgeniy aka Fantaz1 Zabolotniy
