<!DOCTYPE html>
<html>
<head>
  <title>TodoList</title>
  <%= stylesheet_link_tag "blueprint/print.css" %>
  <%= stylesheet_link_tag "blueprint/screen.css" %>
   
  <%= stylesheet_link_tag "blueprint/plugins/fancy-type/screen.css" %>
  <%= stylesheet_link_tag "blueprint/plugins/link-icons/screen.css" %>
<%= stylesheet_link_tag "blueprint/plugins/tabs/screen.css" %>
  
<!--[if IE]> <%= stylesheet_link_tag "vendor/assets/blueprint/ie.css" %><![endif]-->
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container" id=main>

<div id=headerDiv class="column span-24 last">

<p>Todo list</p>

</div>
</br>
<div id="content">
<%= yield %>
</div>
<hr class="clear"/>
<div class="span-24 prepend-1 column last" id="footer">
<span>made by Evgeniy aka Fantaz1 Zabolotniy</span>
<%= debug(params) if Rails.env.development? %>
</div>

</div>
</body>
</html>
